@charset "UTF-8";
/* Переменные (через $) */
/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper {
  /*Максимальная ширина страницы и выравнивание содержимого по центру*/
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffd500;
  /* Обёртка для прижатия подвала к нижней части */
}

.wrapper-container {
  padding: 0 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper-forcontent {
  min-height: 100vh;
  /* 100 видимых высот */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3b14af;
}

/* end === wrapper === end */
/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Отношение блоков */
}

/* end === content-without-footer === end */
/* Шрифты */
/* example: 
@font-face {
    font-family: lato;
    src: url(../fonts/lato-light.ttf);
    font-weight: 300;
    font-style: normal;
}*/
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/* mixin */
/* example:
@mixin font-lato-normal-size-line($size-format: 400, $fonts:14px, $linehe: 17px) {
    font-family: lato;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}*/
/* index */
/* header */
.fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.fixed-menu {
  padding: 15px;
  background-color: #3b14af;
}

.fixed-menu-btn-icon {
  fill: #ffd500;
  -webkit-filter: drop-shadow(2px 2px 0 #fff100);
          filter: drop-shadow(2px 2px 0 #fff100);
  -webkit-transition: fill ease 0.5s;
  transition: fill ease 0.5s;
}

.fixed-menu-btn-icon:hover {
  fill: #a13dd5;
  -webkit-filter: drop-shadow(2px 2px 0 #4a036f);
          filter: drop-shadow(2px 2px 0 #4a036f);
}

.fixed-center {
  width: 50px;
  display: block;
  margin: 0 auto;
}

/* end header end */
/* main */
.content {
  margin-top: 84px;
}

ul.vc-controls {
  list-style: none;
  padding: 0;
  width: 440px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  margin: 0 0 0 -170px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 170, 170, 0.35)), color-stop(50%, rgba(255, 255, 255, 0.44)), to(rgba(255, 255, 255, 0.53)));
  background: linear-gradient(to bottom, rgba(170, 170, 170, 0.35) 0%, rgba(255, 255, 255, 0.44) 50%, rgba(255, 255, 255, 0.53) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59aaaaaa', endColorstr='#87ffffff', GradientType=0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.6);
  padding: 8px;
  height: 54px;
  -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 rgba(255, 255, 255, 0.4), inset 0 2px 19px rgba(0, 0, 0, 0.05), 0 2px 1px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 rgba(255, 255, 255, 0.4), inset 0 2px 19px rgba(0, 0, 0, 0.05), 0 2px 1px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 12px;
}

ul.vc-controls li {
  display: block;
  float: left;
  width: 80px;
  height: 50px;
  line-height: 55px;
  text-align: left;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  background: #ddd url(../images/metal.jpg) no-repeat center top;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 1px 2px rgba(255, 255, 255, 0.9), inset 0 -6px 5px rgba(0, 0, 0, 0.1), 0 6px 7px rgba(0, 0, 0, 0.3), 0 4px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 1px 2px rgba(255, 255, 255, 0.9), inset 0 -6px 5px rgba(0, 0, 0, 0.1), 0 6px 7px rgba(0, 0, 0, 0.3), 0 4px 1px rgba(0, 0, 0, 0.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.vc-controls li span:before {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: #444;
  font-family: 'playericons';
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
}

li.vc-control-fforward span:before {
  content: '\23e9';
}

li.vc-control-rewind span:before {
  content: '\23ea';
}

li.vc-control-stop span:before {
  content: '\25aa';
}

li.vc-control-play span:before {
  content: '\70';
}

/* Pressed (active) */
ul.vc-controls li.vc-control-active {
  height: 50px;
  margin-top: 2px;
  background-image: url(../images/metal_dark.jpg);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.18), inset 0 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -6px 5px rgba(0, 0, 0, 0.1), 0 6px 7px rgba(0, 0, 0, 0.3), 0 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.18), inset 0 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -6px 5px rgba(0, 0, 0, 0.1), 0 6px 7px rgba(0, 0, 0, 0.3), 0 2px 1px rgba(0, 0, 0, 0.5);
}

.vc-volume-wrap {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -288px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 170, 170, 0.35)), color-stop(50%, rgba(255, 255, 255, 0.44)), to(rgba(255, 255, 255, 0.53)));
  background: linear-gradient(to bottom, rgba(170, 170, 170, 0.35) 0%, rgba(255, 255, 255, 0.44) 50%, rgba(255, 255, 255, 0.53) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59aaaaaa', endColorstr='#87ffffff', GradientType=0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 8px;
  -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.6), 0 -1px 0 rgba(255, 255, 255, 0.4), inset 0 2px 19px rgba(0, 0, 0, 0.05), 0 2px 1px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.6), 0 -1px 0 rgba(255, 255, 255, 0.4), inset 0 2px 19px rgba(0, 0, 0, 0.05), 0 2px 1px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.vc-volume-wrap:after {
  content: 'Volume';
  margin-top: 15px;
  display: block;
}

/* Text style for controls */
ul.vc-controls li,
.vc-volume-wrap:after {
  font-family: 'Aldrich';
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

ul.vc-controls {
  position: relative;
  margin: 30px 0 0 -110px;
  width: 360px;
}

.vc-volume-wrap {
  position: relative;
  margin-top: -100px;
}

.knob {
  width: 100px;
  height: 100px;
  position: relative;
}

.knob .top {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/knob.jpg) no-repeat center center;
  z-index: 10;
  cursor: default !important;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 3px 2px rgba(255, 255, 255, 0.6);
          box-shadow: inset 0 0 3px 2px rgba(255, 255, 255, 0.6);
}

.knob .base {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 0 #555, 0px 5px 5px black;
          box-shadow: 0 5px 0 #555, 0px 5px 5px black;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.knob .top:after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #666;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 4px;
  border-radius: 50%;
  cursor: default !important;
  -webkit-box-shadow: 0 0 1px #5a5a5a inset, 1px -1px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 1px #5a5a5a inset, 1px -1px 1px rgba(255, 255, 255, 0.5);
}

/* end main end */
/* end index end */
/*# sourceMappingURL=style.css.map */