// * Ширина 1280px
@media (max-width: 1280px) {
    .wrapper {
        max-width: 1170px;

        &-container {
            padding: 10px 90px;
        }
    }

    .front-astronaut {
        width: 546px;
        height: 773px;
        top: 16%;
        left: 12%;
    }

    .content {
        &-wrp {
            padding: 0;

            &-title-first {
                display: block;
                margin: 0 0 45px;
            }
        }

        &-description {
            padding: 0 185px 17px;
        }

        &-cards-el {
            width: 180px;
            height: 180px;
            border: 22px solid #4a4a4a;

            &-point {
                top: 87px;
                left: 184px;

                &:nth-child(2) {
                    top: 90px;
                    left: -17px;
                }

                &:nth-child(3) {
                    top: 14px;
                    left: 10px;
                }

                &:nth-child(4) {
                    top: -17px;
                    left: 86px;
                }

                &:nth-child(5) {
                    top: 18px;
                    left: 160px;
                }

                &:nth-child(6) {
                    top: 154px;
                    left: 11px;
                }

                &:nth-child(7) {
                    top: 184px;
                    left: 85px;
                }

                &:nth-child(8) {
                    top: 154px;
                    left: 154px;
                }
            }

            &-svg {
                width: 75px;
                height: 72px;
                top: 7px;
                left: 51px;
            }

            &-words {
                top: 89px;
                left: 51px;
            }
        }
    }

    .feedback-explanations {
        margin-top: 125px;
        margin-right: 35px;
    }
}

// * Ширина 1024px
@media (max-width: 1024px) {
    .wrapper {
        max-width: 950px;

        &-container {
            padding: 10px 45px;
        }
    }

    .fixed-menu {
        &-icon {
            width: 65px;
        }

        &-list {
            margin-top: 30px;

            &-li-link {
                font-size: 20px;
            }
        }

        &-social-el-icon {
            width: 45px;
        }

        &-btn {
            margin-top: 12px;
        }
    }

    .content {
        margin-top: 101px;

        &-description {
            padding: 0 135px 17px;
        }
    }

    .slider {
        margin: 0 auto;

        &-side {
            display: none;
        }
    }
}

// * Ширина 768px
@media (max-width: 768px) {
    .wrapper {
        max-width: 725px;

        &-container {
            padding: 10px 30px;
        }
    }

    .fixed-menu {
        &-list {
            display: none;
            position: absolute;
            top: 63px;
            left: 182px;
            background-color: $rear-panel;
            padding: 18px 0;
        }

        &-social {
            display: none;
            position: absolute;
            top: 130px;
            left: 182px;
            background: $rear-panel;
            padding: 0 47px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &-btn {
            margin-top: 6px;
        }
    }

    .mobile-menu__icon {
        display: block;
        margin-top: 10px;
        display: block;
        margin-top: 35px;
    }

    .content {
        margin-top: 93px;

        &-description {
            padding: 0 45px 20px;
        }

        &-cards {
            justify-content: center;
            padding-bottom: 30px;

            &-el {
                &:first-child {
                    display: none;
                }

                &:nth-child(2) {
                    margin-left: 65px;
                }

                &:nth-child(3) {
                    display: none;
                }
            }

            &-img {
                margin-top: 0;
            }
        }
    }

    .player-equalizer {
        width: 655px;
    }

    .playlist-list {
        margin-left: 10px;
    }

    .broadcast-images {
        &-volna {
            width: 190px;
        }

        &-radio {
            width: 160px;
        }

        &-oldrock {
            width: 190px;
        }

        &-lx {
            width: 210px;
        }

        &-allradio {
            width: 165px;
        }
    }

    .feedback {
        &-form {
            width: 312px;

            &-inp {
                width: 300px;
            }

            &-textarea {
                width: 300px;
            }

            &-proposal:after {
                left: 276px;
            }

            &-politics {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &-explanations {
            font-size: 14px;
            margin-top: 122px;
            margin-right: 0px;
            margin-left: 45px;
        }
    }

    .footer {
        &-description-year {
            font-size: 15px;
            line-height: 16px;
        }

        &-contacts-link {
            &-svg {
                width: 45px;
            }

            &-contact {
                margin-left: 1px;
            }

            &-market {
                text-align: center;
            }

            &-git {
                margin-left: 5px;
            }
        }
    }
}

// * Ширина 600px
@media (max-width: 600px) {
    .wrapper {
        max-width: 560px;

        &-container {
            padding: 10px 20px;
        }
    }

    .front-astronaut {
        width: 419px;
        height: 568px;
        top: 44%;
        left: 7%;
        background-position: -3px -245px;
    }

    .player-equalizer {
        width: 520px;
    }

    .playlist {
        &-cover {

            &-title {
                font-size: 20px;
            }

            &-track {
                font-size: 15px;
                line-height: 25px;
            }

            &-img {
                width: 185px;
                height: 185px;
            }
        }

        &-list {

            &-title {
                font-size: 20px;
            }

            &-el {
                width: 270px;
                font-size: 14px;
                line-height: 25px;
            }
        }
    }

    .projects-list-li {

        &-img {
            height: 200px;

            &-two {
                width: 100px;
            }

            &-three {
                width: 160px;
            }
        }

        &-title {
            font-size: 15px;
        }
    }

    .broadcast-images {
        &-volna {
            width: 150px;
            height: 44px;
        }

        &-box {
            margin-top: 8px;
            width: 100px;
            height: 41px;
        }

        &-radio {
            width: 140px;
            margin-top: -6px;
        }

        &-oldrock {
            width: 150px;
            height: 40px;
        }

        &-lx {
            width: 165px;
            height: 40px;
        }

        &-allradio {
            width: 140px;
            height: 45px;
        }
    }

    .feedback-form {
        &-inp {
            width: 220px;
        }

        &-textarea {
            width: 220px;
        }

        &-proposal::after {
            left: 230px;
        }
    }

    .footer-icon {
        width: 91px;
    }
}

// * Ширина 480px
@media (max-width: 480px) {
    .wrapper {
        max-width: 450px;

        &-container {
            padding: 10px 20px;
        }
    }

    .fixed-menu {
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;

        &-icon {
            width: 65px;
        }

        &-list-li {
            text-align: center;
        }
    }

    .menu480 {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .front-astronaut {
        width: 325px;
        height: 440px;
        top: 57%;
        background-position: -3px -180px;
    }

    .content {
        &-wrp-title {
            @include font-open-bold(700, 47px, 10px);

        }

        &-description {
            @include font-open-regular (400, 15px, 22px);
            padding: 0 20px;
        }
    }

    .slider {
        &-img {
            width: 410px;
            height: 300px;
        }

        &-switch-modal {
            &-title {
                font-size: 22px;
            }

            &-text {
                @include font-open-regular(400, 15px, 17px);
            }
        }
    }

    .player {
        &-equalizer {
            width: 410px;
        }

        &-volume {
            margin-left: 25px;
        }

        &-controls-stop {
            left: 243px;
        }
    }

    .playlist {
        &-cover {
            &-title {
                font-size: 18px;
            }

            &-track {
                margin: 15px 0;
                font-size: 12px;
                line-height: 20px;
            }

            &-img {
                width: 130px;
                height: 130px;
            }
        }

        &-list {
            &-title {
                font-size: 18px;
            }

            &-el {
                width: 250px;
                font-size: 12px;
                line-height: 17px;
            }
        }
    }

    .projects {
        &-title {
            @include font-open-bold (700, 20px, 20px);
        }

        &-list {
            flex-direction: column;

            &-li {
                margin: 0 auto;

                &:nth-child(2) {
                    margin-top: 30px;
                    margin-bottom: 10px;
                }

                &:nth-child(3) {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .broadcast {
        display: none;
    }

    .feedback {
        flex-direction: column;

        &-form {
            width: 235px;
            margin: 0 auto;
            order: 2;
        }

        &-explanations {
            margin: 10px auto;
            order: 1;
        }
    }

    .footer {
        &-icon {
            display: none;
        }

        &-description {
            margin: 0;
            padding: 15px 5px;

            &-year {
                font-size: 12px;
            }
        }

        &-contacts-link-market {
            margin-left: -3px;
        }
    }
}