/* index */

/* header */
.fixed {
    position: fixed;
    width: 100%;
    z-index: 10;

    &-menu {
        padding: 15px;
        background-color: $rear-panel;
        box-sizing: border-box;

        &-btn-icon {
            fill: $front-panel;
            filter: drop-shadow(2px 2px 0 $main-color);
            transition: fill ease 0.5s;

            &:hover {
                fill: $fill-logo;
                filter: drop-shadow(2px 2px 0 $fill-shadow);
            }
        }
    }

    &-center {
        width: 50px;
        display: block;
        margin: 0 auto;
    }
}

/* end header end */

/* main */
.content {
    margin-top: 84px;

    &-wrp {
        padding: 0 65px;
        margin-bottom: 40px;
        box-sizing: border-box;
        position: relative;

        &-title {
            display: block;
            @include font-open-bold(700, 70px, 20px);
            margin: 0;
            padding: 45px 10px 35px;
            box-sizing: border-box;
            letter-spacing: 10px;
            text-align: center;
            text-transform: uppercase;

            // Анимация заднего фона заголовка
            animation-play-state: running;
            color: transparent;
            background: url(../img/bg-title.png);
            background-size: cover;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-animation: title-bg 20s infinite linear alternate;
            -moz-animation: title-bg 20s infinite linear alternate;
            animation: title-bg 20s infinite linear alternate;

            border-bottom: .25rem solid $whcolor;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -1.25rem;
                transform: translateX(-1.25rem);
                border-top: 1.25rem solid $whcolor;
                border-left: 1.25rem solid transparent;
                border-right: 1.25rem solid transparent;
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -1.125rem;
                transform: translateX(-1.25rem);
                border-top: 1.5rem solid $front-panel;
                border-left: 1.25rem solid transparent;
                border-right: 1.25rem solid transparent;
            }
        }
    }

    &-playslider {
        padding: 0 65px;
    }

    &-player {

        &-equalizer {
            height: 359px;
            width: 500px;
            padding: 0 65px;
            box-sizing: border-box;
        }

        &-controls {
            list-style: none;
        }

        &-volume {

            // размеры ползунка звука
            &-knob {
                width: 250px;
                height: 250px;
                position: relative;
                border-radius: 50%;
            }

            // положение точки и звука (с элементом заднего фона)
            &-top {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../img/bg-volume.gif) no-repeat center center;
                z-index: 10;
                cursor: default !important;
                border-radius: 50%;
                box-shadow: inset 0 0 3px 2px $contour;

                &::after {
                    content: '';
                    width: 35px;
                    height: 8px;
                    background-color: $cursor-color;
                    position: absolute;
                    top: 50%;
                    margin-top: -2px;
                    left: 4px;
                }
            }

            &-base {
                width: 100%;
                height: 100%;
                box-shadow: 0 5px 0 $rear-panel, 0px 5px 5px $rear-panel;
                position: absolute;
                z-index: 1;
                border-radius: 50%;
            }
        }
    }
}

/* end main end */

/* end index end */