* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(../img/background-header.jpg);
    background-repeat: no-repeat;
    padding-bottom: 156px;
    box-sizing: border-box;

    &-transitions {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;

        &-menu {
            display: flex;
            justify-content: space-between;

            &-li {
                list-style-type: none;

                &-link {
                    @include font-family-normal-size-line(mont-700, 16px, 20px);
                    color: $color-main;
                    text-transform: uppercase;
                    margin-right: 35px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 4px;
                        border-bottom: 3px solid $color-main;
                    }
                }

                &::before {
                    content: url(../img/elipse.svg);
                    margin-right: 35px;
                }

                &:first-child {
                    & > .header-transitions-menu-li-link {
                        text-decoration: underline;
                        text-underline-offset: 4px;
                        border-bottom: 3px solid $color-main;
                    }

                    &::before {
                        content: "";
                        margin-right: 0;
                    }
                }

                &:last-child > .header-transitions-menu-li-link {
                    margin-right: 0;
                }
            }
        }
    }

    &-languages {
        &-lang {
            @include font-family-normal-size-line(mont-700, 16px, 20px);
            background-color: transparent;
            text-transform: uppercase;
            color: $color-main;
            border: none;
            cursor: pointer;
            transition: color 0.4s ease;

            &:first-child {
                color: $color-inactive;
                margin-right: 15px;
            }

            &:hover {
                color: $color-main;
            }
        }
    }

    &-title {
        display: block;
        width: 500px;
        @include font-family-normal-size-line(druk, 64px, 84px);
        padding: 120px 0 20px;
        box-sizing: border-box;
        text-transform: uppercase;
        color: $color-main;
    }

    &-description {
        display: block;
        @include font-family-normal-size-line(mont-600, 22px, 29px);
        margin-bottom: 40px;
        color: $color-main;
    }

    &-btn {
        @include font-family-normal-size-line(mont-800, 16px, 20px);
        background-color: transparent;
        text-transform: uppercase;
        padding: 20px 65px;
        box-sizing: border-box;
        color: $color-main;
        border: 1px solid $color-main;
        border-radius: 76px;
        transition: color 0.5s ease, background-color 0.5s ease;

        &:hover {
            color: $color-hover;
            background-color: $color-main;
        }
    }
}

.main {
    background-color: $background-main;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
    box-sizing: border-box;

    &-us {
        width: 430px;

        &-title {
            display: block;
            @include font-family-normal-size-line(mont-800, 34px, 42px);
            color: $color-bg-black;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        &-description {
            @include font-family-normal-size-line(mont-500, 18px, 24px);
            margin-bottom: 50px;
            color: $color-hover;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            width: 379px;
            padding-top: 20px;
            border-top: 1px solid $color-inactive;

            &-figura {
                &-number {
                    display: block;
                    @include font-family-normal-size-line(mont-700, 24px, 32px);
                    color: $color-bg-black;
                }

                &-explanations {
                    @include font-family-normal-size-line(mont-400, 16px, 20px);
                    color: $color-bg-black;
                }
            }
        }
    }

    &-circle {
        width: 417px;
        position: relative;

        &-simple {
            position: absolute;
            fill: $bg-circle;
            stroke: $color-stroke-circle;
        }

        &-circleincircle {
            position: absolute;
            fill: $bg-circle;
            stroke: $color-stroke-circle;
            animation: animation-circle-forward 10s infinite;
        }

        &-point {
            position: absolute;
            fill: $bg-circle;
            stroke: $color-stroke-circle;
            animation: animation-circle-forward 15s infinite;
        }

        &> svg:first-child {
            top: 85px;
            left: 175px;
            animation: animation-circle-forward 2s infinite;
        }

        &> svg:nth-child(2) {
            top: 160px;
            left: 70px;
        }

        &> svg:nth-child(3) {
            top: 165px;
            left: 205px;
        }

        &> svg:nth-child(4) {
            top: 155px;
            left: 305px;
        }

        &> svg:nth-child(6) {
            top: 0px;
            left: 245px;
            animation: animation-circle-back 30s infinite;
        }
    }
}

.advantages {
    padding: 109px 0 200px;
    box-sizing: border-box;

    &-title {
        display: block;
        @include font-family-normal-size-line(mont-800, 34px, 42px);
        text-transform: uppercase;
        color: $color-bg-black;
        padding-bottom: 50px;
    }

    &-ol {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;

        &-li {
            @include font-family-normal-size-line(mont-500, 18px, 24px);
            color: $color-hover;

            &:first-child {
                width: 206px;
            }

            &:nth-child(2) {
                width: 260px;
            }

            &:last-child {
                width: 320px;
            }

            &::marker {
                @include font-family-normal-size-line(mont-800, 18px, 24px);
            }
        }
    }
}

.projects {
    padding-bottom: 200px;
    box-sizing: border-box;

    &-title {
        display: block;
        @include font-family-normal-size-line(mont-800, 34px, 42px);
        color: $color-bg-black;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &-links {
        display: flex;
        justify-content: space-between;

        &-link {
            text-decoration: none;
            text-underline-offset: 4px;

            &-title {
                display: block;
                @include font-family-normal-size-line(mont-600, 20px, 25px);
                color: $color-hover;
                margin-bottom: 40px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer {
    padding: 0;
    background-color: $color-bg-light;

    &-up {
        display: flex;
        justify-content: space-between;
        padding: 50px 200px;
        background-color: $color-bg-black;

        &-left {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin: 0;

            &-channels {
                margin-right: 120px;

                &-title {
                    @include font-family-normal-size-line(mont-600, 18px, 22px);
                    margin-bottom: 15px;
                    color: $color-main;
                    cursor: pointer;
                }

                &-li {
                    @include font-family-normal-size-line(mont-400);
                    margin-bottom: 12px;

                    &-link {
                        text-decoration: none;
                        color: $color-inactive;
                    }

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }

                    &:nth-child(6) > a {
                        text-transform: uppercase;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-projects {
                &-title {
                    @include font-family-normal-size-line(mont-600, 18px, 22px);
                    margin-bottom: 15px;
                    color: $color-main;
                    cursor: pointer;
                }

                &-li {
                    @include font-family-normal-size-line(mont-400);
                    margin-bottom: 12px;

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }

                    &-link {
                        text-decoration: none;
                        color: $color-inactive;
                    }
                }
            }
        }

        &-right {
            width: 120px;
            height: 120px;
            border: 2px solid $color-inactive;
            border-radius: 100%;
            margin-top: 49px;
            transition: border 0.3s ease;

            &-svg {
                padding: 45px;
                fill: $color-inactive;
                transition: fill 0.3s ease;
            }

            &:hover {
                border: 2px solid $color-main;

                & > svg {
                    fill: $color-main;
                }
            }
        }
    }

    &-down {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 50px 200px;
        box-sizing: border-box;
        background-color: $color-bg-light;

        &-years {
            @include font-family-normal-size-line(mont-400);
            color: $color-inactive;
        }

        &-social {
            &-link {
                text-decoration: none;
                margin-right: 20px;

                &-svg {
                    fill: $color-main;
                    transition: fill 0.5s ease;
                }

                &:hover > svg {
                    fill: $play-market;
                }

                &:nth-child(2) > svg:hover {
                    fill: $vkontakte;
                }

                &:last-child {
                    margin-right: 0;

                    & > svg:hover {
                        fill: $twitter;
                    }
                }
            }
        }
    }
}
