/* index */

/* header */
.fixed {
    position: fixed;
    width: 100%;
    z-index: 10;

    &-menu {
        padding: 20px 120px;
        background-color: $rear-panel;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        &-icon {
            width: 82px;
            fill: $rear-panel;
            transition: background-color ease 0.5s;
            background-color: $front-panel;
            animation: change-fill 3s ease infinite;

            &:hover {
                background-color: $fill-logo;
            }
        }

        &-list {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;

            &-li {
                display: block;
                padding: 0 20px;
                box-sizing: border-box;
            }
        }

        &-social {
            display: flex;
            justify-content: space-around;
            
            padding: 0;
            box-sizing: border-box;
            list-style: none;

            &-el {
                display: block;
                padding: 0 5px;

                &-icon {
                    width: 50px;

                    &-separate {
                        width: 450px;
                    }
                }
            }
        }

        &-btn {
            width: 50px;
            height: 50px;
            margin-top: 16px;
            padding: 0;
        }
    }
}

/* end header end */

/* end index end */