/* mixin */
/* example:
@mixin font-lato-normal-size-line($size-format: 400, $fonts:14px, $linehe: 17px) {
    font-family: lato;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}*/

@mixin font-open-bold($size-format: 700, $fonts: 14px, $linehe: 17px) {
    font-family: OpenSans-Bold;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}

@mixin font-open-regular($size-format: 400, $fonts: 20px, $linehe: 25px) {
    font-family: OpenSans-Regular;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}